{% extends 'base.twig' %}

{% block title %}Test{% endblock %}

{% block content %}
    <h1>
       Losowe słowo:
    </h1>
     
 {% if randomWord != false %}
    
    {% for flashMessage in app.session.getFlashBag.get('message') %}
        <div class="alert alert-{{ flashMessage.type }}">
            {{ flashMessage.content }}
        </div>
    {% endfor %}
                  
               <h1>  {{ randomWord['spanish']|e }}  </h1>          

	    <form action="#" method="post">
        {{ form_widget(form) }}
      
    </form>

  {% else %}

            Ta kategoria jest pusta.

  {% endif %}	
			
      
{% endblock %}
