{% extends 'base.twig' %}

{% block title %}Losowe słowo{% endblock %}

{% block content %}
    <h1>
       Losowe słowo
    </h1>


           
        <h3>      Polski:    {{ polish|e}}  </h3>
             
        <h3>      Hiszpański:    {{ spanish|e}}  </h3>
               
         <h3>     Komentarz:     {{ comment|e}}  </h3>
               
           
          <h2><a href="{{ url('/randomWord/') }}">Jeszcze raz</a></h2>
                 


{% endblock %}
