{% extends 'base.twig' %}

{% block title %}Wynik{% endblock %}

{% block content %}
    <h1>
      WYNIK:
    </h1>

       

{% if right is defined %}
           
               <h1> Dobrze: {{ right|e }}  </h1>

{% endif %}


{% if wrong is defined %}
           
               <h1> Źle {{ wrong|e}} </h1>
               
{% endif %}

<a href="{{ url('guessWord') }}">Jeszcze raz</a>
		
 
{% endblock %}
