<!DOCTYPE HTML>
<html>

<head>
  <title>{% block pagetitle %}{% endblock %}</title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
  <link rel="stylesheet" type="text/css" href="/../~12_pitynska/Projekt/web/style/style.css" />
</head>

<body>
  <div id="main">
    <div id="header">
      <div id="logo">
        <!-- class="logo_colour", allows you to change the colour of the text -->
        <h1><a href="index.html">Hisz<span class="logo_colour">pański</span></a></h1>
        <h2> Nauka słówek online</h2>
      </div>
      <div id="menubar">
        <ul id="menu">
          <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
          <li class="selected"><a href="index.html">Strona główna</a></li>
          <li><a href="examples.html">Słówka</a></li>
          <li><a href="page.html">Gramatyka</a></li>
          <li><a href="another_page.html">O projekcie</a></li>
          <li><a href="contact.html">Kontakt</a></li>
        </ul>
      </div>
    </div>

      {% block sidecontent %}{% endblock %}
      {% block content %}{% endblock %}


    </div>
    <div id="footer">
      <p><a href="index.html">Home</a> | <a href="examples.html">Examples</a> | <a href="page.html">A Page</a> | <a href="another_page.html">Another Page</a> | <a href="contact.html">Contact Us</a></p>
      <p>Copyright &copy; simple_light | <a href="http://validator.w3.org/check?uri=referer">HTML5</a> | <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> | <a href="http://www.html5webtemplates.co.uk">design from HTML5webtemplates.co.uk</a></p>
    </div>
  </div>
</body>
</html>
