<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport"    content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author"      content="Sergey Pozhilov (GetTemplate.com)">
    
    <title>Palabola- hiszpańskie słówka</title>

    <link rel="shortcut icon" href="{{ app.request.basepath }}/assets/images/gt_favicon.png">
    
    <!-- Bootstrap itself -->
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" type="text/css">

    <!-- Custom styles -->
    <link rel="stylesheet" href="{{ app.request.basepath }}/css/magister.css">

    <!-- Fonts -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Wire+One' rel='stylesheet' type='text/css'>
</head>
    {% block head %}
        <title>{% block title %}{% endblock %}</title>
    {% endblock %}
<!-- use "theme-invert" class on bright backgrounds, also try "text-shadows" class -->
<body class="theme-invert">


{% if is_granted('ROLE_ADMIN') -%}


<nav class="navbar navbar-default adminnav " role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    
    

    <a class="navbar-brand" href="{{ url('news') }}">Palabola</a>
   
    <!-- Collect the nav links, forms, and other content for toggling -->
  <!--   <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"> -->
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Aktualności<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="{{ url('posts/list') }}">Lista</a></li>
            <li class="divider"></li>
            <li><a href="{{ url('/posts/add/') }}">Nowy post</a></li>
         </ul>
        </li>
      
         <li> <a href="{{ url('categories') }}" title="Add category">Kategorie publiczne</a></li>
     

        <li><a href="{{ url('users') }}">Użytkownicy</a></li>
        
      </ul>
     

    <!-- </div> --><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


{% endif %}

<nav class="mainmenu">
    <div class="container">
        <div class="dropdown">
            <button type="button" class="navbar-toggle" data-toggle="dropdown"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
         
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
               
                <li class="active"> <a href="{{ url('news') }}" title="news">Strona główna</a></li>
                <li class="active"> <a href="{{ url('posts') }}" title="news">Aktualności</a></li>
                <li> <a href="{{ url('categories') }}" title="Category">Kategorie słówek</a></li> 
                <li><a href="{{ url('/randomWord/') }}">Wylosuj słówko</a></li>
               
                <li><a href="{{ url('/choose/') }}">Nauka słówek</a></li>
               
          {% if is_granted('IS_AUTHENTICATED_FULLY') %}

                <li><a href="{{ url('usersview') }}">Twoje konto</a></li>
                

          {% endif %}       
                <li>{% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <a href="{{ path('/auth/logout') }}">Wyloguj się</a>
                    {% else %}
                        <a href="{{ path('/auth/login') }}">Zaloguj się</a>
                    {% endif %}</li>
            </ul>
        </div>
       
        <div id="logo"> <h1 class="title">Palabola </h1> <h2 class="subtitle" id="subtit">Hiszpanskie slowka</h2></div>


    </div>
</nav>

<!-- Main (Home) section -->
<section class="section" id="head">
    <div class="container">

        <div class="row">
            <div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 text-center" id="tlo">  

                {% block content %}{% endblock %}
    
            </div> <!-- /col -->
        </div> <!-- /row -->
    
    </div>
</section>

<div id="footer">
  <div class="container">
    <p>Copyright 2014 Aneta Pityńska </p>
  </div>
</div>


<!-- Load js libs only when the page is loaded. -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="{{ app.request.basepath }}/assets/js/modernizr.custom.72241.js"></script>
<!-- Custom template scripts -->
<script src="{{ app.request.basepath }}/assets/js/magister.js"></script>

</body>

</html>