{% extends 'base.twig' %}

{% block title %}Usuń słowo{% endblock %}

{% block content %}
    <h1>
        Usuń słowo
    </h1>

 {%  if is_granted('ROLE_ADMIN') or vocUser == current %}

    <p>Czy napewno chcesz usunąć to słowo?</p>
    <form action="{{ url('/vocabulary/delete/', {'idVocabulary': Vocabulary.idVocabulary}) }}" method="post">
        {{ form_widget(form) }}
    </form>

       <a href="{{ url('/vocabulary/getFromCategory/', {'idCategories': category}) }}" title="Edit">Powrót do kategorii</a>

{% else %}

 Brak dostępu

 {% endif %}

{% endblock %}