{% extends 'base.twig' %}

{% block title %} Lista słówek{% endblock %}

{% block content %}
    <h1>
       Lista słówek
    </h1>
 

        <p>
        <a href="{{ url('/vocabulary/add/', {'idCategories': idCategories}) }}" title="Dodaj nowe słówko">
            Dodaj nowe słówko
        </a>
    </p>



   {%  if Vocabulary|length > 0 %}
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Polski</th>
                <th>Hiszpański</th>
                <th>Komentarz</th>
                <th colspan="2">&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            {% for Vocabulary in Vocabulary %}
                <tr>
                    <td>{{ Vocabulary.idVocabulary|e }}</td>
                    <td>{{ Vocabulary.polish|e }}</td>
                    <td>{{ Vocabulary.spanish|e }}</td>
                    <td>{{ Vocabulary.comment|e }}</td>
                    
    {%  if is_granted('ROLE_ADMIN') or catUser == current %}

                    <td>
                        <a href="{{ url('/vocabulary/edit/', {'idVocabulary': Vocabulary.idVocabulary}) }}" title="Edit">Edytuj</a>
                    </td>
                    <td>
                        <a href="{{ url('/vocabulary/delete/', {'idVocabulary': Vocabulary.idVocabulary}) }}" title="Delete">Usuń</a>
                    </td>
                
  {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>
            Nie znaleziono kategorii.
        </p>



{% endblock %}