{% extends 'base.twig' %}

{% block title %}Lista słówek{% endblock %}

{% block content %}
    <h1>
        Lista słówek
    </h1>
  
      {%  if is_granted('ROLE_ADMIN') or catUser == current or catUser == 1 %}
   

 {% for flashMessage in app.session.getFlashBag.get('message') %}
        <div class="alert alert-{{ flashMessage.type }}">
            {{ flashMessage.content }}
        </div>
    {% endfor %}

        
           {%  if is_granted('ROLE_ADMIN') or catUser == current %}
    <p>
        <a href="{{ url('/vocabulary/add/', {'idCategories': idCategories}) }}" title="Dodaj nowe słówko">
            Dodaj nowe słówko
        </a>
    </p>
        {% endif %}

    {%  if Vocabulary|length > 0 %}
    {#    {%  if Categories.idCategories == {'idCategories': Category.idCategories} %}#}
        <table class="table">
            <thead>
            <tr>
     {%  if is_granted('ROLE_ADMIN') or catUser == current %}  <th>ID</th>   {% endif %}
                <th>Polski</th>
                <th>Hiszpański</th>
                <th>Komentarz</th>
                <th colspan="2">&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            {% for Vocabulary in Vocabulary %}
                <tr>
            {%  if is_granted('ROLE_ADMIN') or catUser == current %}          
                    <td>{{ Vocabulary.idVocabulary|e }}</td>  {% endif %}
                    <td>{{ Vocabulary.polish|e }}</td>
                    <td>{{ Vocabulary.spanish|e }}</td>
                    <td>{{ Vocabulary.comment|e }}</td>
                
           {%  if is_granted('ROLE_ADMIN') or catUser == current %}
                    <td>
                        <a href="{{ url('/vocabulary/edit/', {'idVocabulary': Vocabulary.idVocabulary}) }}" title="Edit category">Edytuj</a>
                    </td>
                    <td>
                        <a href="{{ url('/vocabulary/delete/', {'idVocabulary': Vocabulary.idVocabulary}) }}" title="Delete word">Usuń</a>
                    </td>
          {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>
            Nie znaleziono słówek
        </p>
    {% endif %}


{% else %}
 To nie jest twoja kategoria. Brak dostępu.

{% endif %}   

{% if catUser == 1 %}

       <a href="{{ url('/categories/') }}" title="Edit">Powrót do listy kategorii</a>
       {% else %}
       <a href="{{ url('/categories/userCategories/', {'idUsers': catUser}) }}" title="Edit">Powrót do listy kategorii</a>

       {% endif %}

{% endblock %}