{% extends 'base.twig' %}

{% block title %}Aktualności{% endblock %}

{% block content %}
	<h1>Projekt wykonany w ramach przedmiotu <b>System Interakcyjny</b></h1>
    <h1>Aneta Pityńska</h1>
    <h2>e-mail: aneta.pitynska@gmail.com</h2>
{% endblock %}
