{% extends 'base.twig' %}

{% block title %}Strona główna{% endblock %}

{% block content %}
    <h1>Witaj na stronie do nauki języka hiszpańskiego!</h1>
   					<br>
    <p> 
    	Aby móc korzystać z aplikacji <a href="{{ url('adduser') }}">zarejestruj </a> lub <a href="{{ path('/auth/login') }}">zaloguj się </a>
    <br>  <br>
    	W dziale <a href="{{ url('guessWord') }}">Nauka słówek</a> możesz sprawdzić swoją wiedzę w teście ze wszystkich słówek dostępnych na stronie. 
    <br>  <br>
    	Jeśli chcesz możesz też przystąpić do testu ze słówek z konkretnej <a href="{{ url('categories') }}" title="Category">kategorii</a> lub stworzyć własną, prywatną kategorię, do której masz dostęp tylko ty.

    </p>


    <h3>Projekt wykonany w ramach przedmiotu System Interakcyjny</h3>


    <h3>Aneta Pityńska</h3>
    <h3> Kontakt: aneta.pitynska@gmail.com</h3>
{% endblock %}
