{% extends 'base.twig' %}

{% block title %}Usuń post{% endblock %}

{% block content %}
    
  {%  if is_granted('ROLE_ADMIN') %}

    <h1>
        Usuń post
    </h1>
    <p>Czy napewno chcesz usunąć ten post?</p>
    <form action="{{ url('/posts/delete/', {'idPosts': Post.idPosts}) }}" method="post">
        {{ form_widget(form) }}
    </form>

        {% else %}
    	Brak dostępu

    	{% endif %}

{% endblock %}