{% extends 'base.twig' %}

{% block title %}Edytuj post{% endblock %}

{% block content %}
  
  {%  if is_granted('ROLE_ADMIN') %}
    <h1>
        Edytuj post
    </h1>
    <form action="{{ url('/posts/edit/', {'idPosts': posts.idPosts}) }}" method="post">
        {{ form_widget(form) }}
    </form>

        {% else %}
    	Brak dostępu

    	{% endif %}
{% endblock %}