{% extends "base.twig" %}

{% block title %}Lista postów{% endblock %}

{% block content %}


    <section id="content">
  {%  if is_granted('ROLE_ADMIN') %}
 {%  if posts|length > 0 %} 
    <h2 class="orange">Lista postów</h2>

       <p>
        <a href="{{ url('/posts/add/') }}" title="Dodaj nowy post">
            Dodaj nowy post
        </a>
        </p>



    <section class="post">
<table class="table">
    <thead>
        <tr>
    <th>Tytuł</th>
    <th>Autor</th>
    <th>Data</th>
</tr>
 </thead> 
 <tbody>

    {% for post in posts %}
 <tr>
        <td><a href="{{ url('/posts/getPost/', {'idPosts': post.idPosts}) }}">{{ post.title|e }}</a></td>
        <td>{{ post.author }}</td>
        <td>{{ post.date|format('d.m.Y, H:i') }}</td>
        <td><a href="{{ url('/posts/getPost/', {'idPosts': post.idPosts}) }}"> Wyświetl </a> </td>
        <td><a href="{{ url('/posts/edit/', {'idPosts': post.idPosts}) }}"> Edytuj </a> </td>
        <td><a href="{{ url('/posts/delete/', {'idPosts': post.idPosts}) }}"> Usuń </a> </td>

          
          </tr> {% endfor %} 

       </tbody>
</table>
      
    </section>

</section>
  {% else %}
                Nie znaleziono postów
    {% endif %}


      {% else %}
              Brak dostępu
    {% endif %}


{% endblock %}