{% extends 'base.twig' %}

{% block title %}Zmień e-mail i hasło{% endblock %}

{% block content %}
    <h1>
       Zmień e-mail i hasło
    </h1>



 {%  if is_granted('ROLE_ADMIN') or idUsers == current %}


 {% if pass == 1 %}
 		Błędne hasło, spróbuj jeszcze raz.
 {% endif %}


    <form action="{{ url('/users/edit/', {'idUser': user.id}) }}" method="post">
        {{ form_widget(form) }}
    </form>


{% else %}

<h3> Brak dostępu </h3> {% endif %}



{% endblock %}