{% extends 'base.twig' %}

{% block title %}Lista użytkowników{% endblock %}

{% block content %}
    <h1>
       Lista użytkowników
    </h1>
     
        {% for flashMessage in app.session.getFlashBag.get('message') %}
        <div class="alert alert-{{ flashMessage.type }}">
            {{ flashMessage.content }}
        </div>
        {% endfor %}

    {%  if users|length > 0 %}
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
         
                <th>Login</th>
                <th>E-mail</th>


                <th colspan="2">&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id|e }}</td>
                    <td>{{ user.login|e }}</td>
                    <td>{{ user.email|e }}</td>
                    <td>
                        <a href="{{ url('/results/', {'idUsers': user.id}) }}" title="Results"> Wyniki </a></td>

                        <td>    <a href="{{ url('/categories/userCategories/', {'idUsers': user.id}) }}" title="Categories" title="Edit">Kategorie</a></td>

                        <td>   <a href="{{ url('/users/edit/', {'idUser': user.id}) }}" title="Edit">Edytuj</a></td>
                        
                        <td>   <a href="{{ url('/users/delete/', {'idUser': user.id}) }}" title="Delete">Usuń</a></td>


               

                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>
            Nie znaleziono użytkowników.
        </p>
    {% endif %}
{% endblock %}